@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primarycolor: #bfcfe0;
    --secondarycolor: #19334d;
    --lightcolor: #ffffff;
    --bgcolor-1: #171a1c;
    --bgcolor-2: #f58800;
    --padding: 8%;

}

* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 8;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}

.main {
    width: 100%;
    height: 100vh;  
}

header {
    background-color: var(--secondarycolor);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.logo {
    text-decoration: none;
    color: var(--lightcolor);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8em;

}

.navigations a {
    color: var(--lightcolor);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    padding-right: 30px;
}

.navigations a:hover {
    color: var(--bgcolor-2);
}

section {
    padding: var(--padding);
}

.main {
    background-color: var(--primarycolor) ;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.main h2 {
    color: var(--bgcolor-2);
    font-size: 1.4em;
    font-weight: 1000;
    text-align: right;
    width: 75%;
}

.main h2 span {
    display: inline-block;
    margin-top: 10p;
    color: var(--secondarycolor);
    font-size: 3em;
    font-weight: 1000;
}


.main-btn {
    color: var(--secondarycolor);
    background-color: var(--bgcolor-2);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: var(--lightcolor);
    transform: scale(1.1);
}

.main img {
    width: 45%;
    transition: 0.7s ease;
}

.main img:hover {
    transform: scale(1.1);
}

.social-icons {
    transition: 0.7s ease;
    color: var(--bgcolor-2);
    font-size: 0.7em;
    padding-right: 30px;
    width: 20%;
}

.social-icons:hover {
    transform: scale(1.1);
}


.title {
    display: flex;
    justify-content: center;
    color: var(--bgcolor-2);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}


.card:hover {
    transform: scale(1.1);
}

.card:hover .img {
    opacity: 0.9;

}

.card img {
    width: 100%;
}

.info {
    text-align: center;
}

.info h3 {
    color: var(--secondarycolor);
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    color: rgb(66, 56, 43);
    font-size: 1em;

}

.info p span {
    color: var(--secondarycolor);
}

.book-btn {
    color: var(--secondarycolor);
    background-color: var(--bgcolor-2);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.articles {
    background-color: var(--primarycolor);
}

.articles.content {
    margin-top: 30px;
}

.articles-card {
    background-color: var(--secondarycolor);
    border: 1px solid var(--secondarycolor);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.articles-card:hover {
    transform: scale(1.1);
}

.articles-card:hover .articles-img {
    opacity: 0.9;

}

.articles-img img {
    width: 100%;
}

.articles-info {
    padding: 1em;
}

.articles-category {
    font-size: 0.8em;
    color: aliceblue;
}

.articles-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 10px;
    color: aliceblue;
}

.RE-AD {
    text-decoration: none;
    color: var(--bgcolor-2);
}

.RE-AD:hover {
    color: rgb(244, 113, 66);
}
.me {
    padding:2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 
.me img {
    width: 35%;
    transition: 0.7s ease;
}

.me img:hover {
    transform: scale(1.1);
}

.me h3 {
    color: var(--secondarycolor);
    font-size: 1.4em;
    font-weight: 1000;
    text-align: right;
    width: 55%;
}

h3 span {
    color: var(--bgcolor-2);
    font-size: 2.5em;
}

.footer {
    background-color: #19334d;
    color: var(--lightcolor);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: var(--bgcolor-2);

}

.footer .icons {
    transition: 0.7s ease;
    color: var(--bgcolor-2);
    font-size: 0.7em;
    padding-right: 30px;
    width: 10%;
}

.icons:hover {
    transform: scale(1.1);
}



@media (max-width:1028px) {
    header {
      padding: 15px 60px;
    }

    .navigations a {
      padding-right: 30px;
      font-size: 1.5em;
    }


    .main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main h2 {
      font-size: 1.7em;
      text-align: center;
      width: 100%;
    }

    .main h2 span {
        font-size: 2em;
    }

    .main img {
        width: 100%;
    }

  
    .main-btn {
        display: none;
    }

  
    .social-icons {
      display: none;
    }

    .content {
        flex-wrap: initial;
    }


    .me h3 {
        font-size: 1.5em;
        width: 1000%;
      }


    .me img {
        display: none;
    }

}


@media (max-width:550px) {
    header {
      padding: 10px 25px;
    }  
  
    .navigations a {
       padding-right: 10px;
       font-size: 1em;
    }
  
    .logo {
      font-size: 1.3em;
    }

    .main {
        padding: 155px 25px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main h2 {
      font-size: 1em;
      text-align: center;
      width: 100%;
    }

    .main h2 span {
        font-size: 1.3em;
    }

    .main img {
        width: 100%;
    }

  
    .main-btn {
        display: none;
    }

  
    .social-icons {
      display: none;
    }


    .content {
        flex-wrap: wrap;
    }

  
    .articles .title {
        font-size: 1em;
    }
  
    .me h3 {
      font-size: 1em;
      width: 1000%;
    }
  
     .me img {
      display: none;
    }
  
  
    .footer {
        padding: 10px 25px;
    }
  
  
    .footer-title {
        font-size: 1em;
        
    }
  
    .footer .icons {
        width: 25%;
    }
  
  
  }
  
